# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
x64/
classy-clash/x64/
packages/
packages.config
/classy-clash/x64
/classy-clash/x64
/classy-clash/x64/Debug
/x64
/x64/Debug
.vs/classy-clash/v17/Browse.VC.db
.vs/classy-clash/v17/DocumentLayout.backup.json
.vs/classy-clash/v17/DocumentLayout.json
.vs/classy-clash/v17/Browse.VC.db
.vs/classy-clash/v17/.suo
.vs/classy-clash/v17/Browse.VC.db
